header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 0.94rem;
  background: #fa3432;
  font-size: 0.3rem;
  padding: 0 0.23rem;
}
header h1 {
  font-size: 0.3rem;
}
header img {
  width: 0.47rem;
  height: 0.49rem;
}
header span,
header a {
  font-size: 0.3rem;
  color: #ffffff;
}
#taohang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 0.86rem;
  background: #ffffff;
}
#taohang h1 {
  font-size: 0.24rem;
  color: #4b4a4b;
}
#taohang > h1.active {
  color: #ff3636;
}
.lubo_wrap {
  position: relative;
  width: 100%;
  height: 3.62rem;
}
.lubo_wrap img {
  width: 100%;
  max-width: 100%;
}
.lubo_wrap .swiper-pagination-bullet {
  width: 0.18rem;
  height: 0.18rem;
}
.lubo_wrap .swiper-pagination-bullet-active {
  background: white;
}
.icon_list {
  height: 2rem;
}
.icon_list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 0.34rem;
}
.icon_list ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: #808080;
  font-size: 0.24rem;
}
.icon_list img {
  padding-bottom: 0.2rem;
  width: 0.9rem;
  height: 0.96rem;
}
/*���Ų�Ʒ���²�����������*/
.contaier {
  background: #f9f9f9;
  position: relative;
  padding: 0rem 0.23rem;
  /*ӯ�żƻ�*/
}
.contaier .hotTitleCon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 0.95rem;
}
.contaier .hotTitleCon img {
  display: inline-block;
  vertical-align: middle;
  padding-right: 0.2rem;
}
.contaier .hotTitleCon span {
  font-size: 0.3rem;
  color: #494849;
  display: inline-block;
}
.contaier .hotTitleCon > span:last-child {
  color: #9a9b9c;
}
.contaier .yinXinPlanCon {
  background: white;
  outline: 2px #e9e9e8 solid;
  height: 2.55rem;
  padding: 0.25rem 0.22rem 0.00rem 0.25rem;
}
.contaier .yinXinPlanCon .yinxinFont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0.28rem;
}
.contaier .yinXinPlanCon .yinxinFont > h1 {
  font-size: 0.25rem;
  color: #494948;
  font-weight: bold;
  vertical-align: middle;
}
.contaier .yinXinPlanCon .yinxinFont .returnMoney {
  width: 0.85rem;
  height: 0.3rem;
  display: inline-block;
  background: #FFAB37;
  text-align: center;
  color: #f9f9f9;
  line-height: 0.3rem;
  vertical-align: middle;
  border-radius: 8%;
}
.contaier .yinXinPlanCon .yinxinFont .v {
  display: inline-block;
  background: #FF7404;
  width: 0.33rem;
  height: 0.3rem;
  border-radius: 8%;
}
.contaier .yinXinPlanCon .fontAndChart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0.43rem;
}
.contaier .yinXinPlanCon .fontAndChart > div > span:nth-child(1) {
  font-size: 0.38rem;
  color: #FB4034;
}
.contaier .yinXinPlanCon .fontAndChart > div > span:nth-child(2) {
  font-size: 0.24rem;
  color: #FF7900;
}
.contaier .yinXinPlanCon .fontAndChart h1 {
  color: #9a9b9c;
  font-size: 0.3rem;
  padding-bottom: 0.27rem;
}
.contaier .yinXinPlanCon .fontAndChart h1 > strong {
  color: #3d3c3c;
}
.contaier .margin {
  margin-top: 0.25rem;
}
.contaier .qiyedontai {
  height: 0.95rem;
  line-height: 0.95rem;
}
.contaier .qiyedontai img {
  display: inline-block;
  padding-right: 0.2rem;
}
.contaier .qiyedontai span {
  font-size: 0.3rem;
  color: #494849;
  vertical-align: middle;
  display: inline-block;
}
/*��ҵ��̬�°벿��--չʾͼƬ�ĵط�*/
.picturesCon {
  width: 100%;
  border-top: 2px solid #e9e9e8;
  border-bottom: 2px solid #e9e9e8;
  background: white;
  padding-top: 0.35rem;
}
.picturesCon .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0.23rem 0.35rem;
  color: #9a9b9c;
}
.picturesCon .item .imgCon {
  padding-right: 0.23rem;
}
.picturesCon .item .imgCon img {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 25%;
}
.picturesCon .item > div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.picturesCon .item > div:first-child .fontCon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.picturesCon .item > div:first-child .fontCon h1:nth-child(1) {
  color: #494848;
  font-size: 0.30rem;
  margin-bottom: 0.20rem;
}
.picturesCon .item > div:nth-child(2) span {
  display: inline-block;
  margin-top: 0.66rem;
}
/*�ײ�*/
footer {
  width: 100%;
  background: #f9f9f9;
  height: 1.88rem;
  padding-top: 0.23rem;
}
footer .footFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
footer section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  width: 100%;
  height: 1.65rem;
  padding-top: 0.45rem;
  border-top: 2px solid #e9e9e8;
  border-bottom: 2px solid #e9e9e8;
}
footer section .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: #494848;
  font-size: 0.28rem;
  margin-bottom: 0.2rem;
}
footer section .top span {
  margin-left: 0.1rem;
}
footer section .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: #9a9b9c;
  font-size: 0.26rem;
}
.clearFix:after {
  content: '';
  visibility: hidden;
  clear: both;
  height: 0;
  line-height: 0;
}
/*��ҳ���м�ƫ�²���*/
body {
  background: #f9f9f9;
}
header {
  background: #fa3432;
  height: 0.94rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.27rem;
  padding: 0 0.3rem;
}
header img {
  width: 0.48rem;
  height: 0.41rem;
}
.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.27rem;
}
.list section:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.list div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 0.8rem;
  height: 0.8rem;
  margin-left: 0.3rem;
  margin-right: 0.21rem;
  background: #FF7900;
  border-radius: 20%;
}
.list img {
  display: inline-block;
  vertical-align: middle;
  width: 0.58rem;
  height: 0.58rem;
  background: #FF7900;
}
.list h2 {
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 0.27rem;
  color: #4c4b4b;
}
.list div:last-child {
  height: 0.8rem;
  margin-right: 0.37rem;
}
.list #demo16 {
  position: relative;
  top: 0.3rem;
}
.list #demo16:after,
.list #demo16:before {
  border: 0.1rem solid transparent;
  border-left: 0.25rem solid #f9f9f9;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: -0.2rem;
  content: '';
}
.list #demo16:before {
  border-left-color: #FF7900;
  right: -0.25rem;
}
.phone {
  height: 1.28rem;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0.3rem;
}
.phone img {
  width: 0.78rem;
  height: 0.8rem;
  display: inline-block;
  padding-right: 0.28rem;
}
.phone h1:nth-child(1) {
  font-size: 0.3rem;
}
.phone h1:nth-child(1) span {
  color: #062ce0;
}
.phone h1:nth-child(2) {
  font-size: 0.23rem;
  color: gainsboro;
}
.margin {
  margin-top: 0.25rem;
}
