
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1490584345999'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1490584345999#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1490584345999') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1490584345999') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1490584345999#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-vip:before { content: "\3434"; }

.icon-fanhui:before { content: "\f000c"; }

.icon-chongzhi:before { content: "\f029c"; }

.icon-wenti:before { content: "\f00bd"; }

.icon-shouji:before { content: "\e625"; }

.icon-caidan:before { content: "\e6dc"; }

.icon-iconfontzhuce:before { content: "\e639"; }

.icon-home:before { content: "\e6b8"; }

.icon-iconziti10:before { content: "\e613"; }

.icon-suo:before { content: "\e681"; }

.icon-dianhua:before { content: "\e621"; }

.icon-re:before { content: "\e61d"; }

.icon-renzheng:before { content: "\e646"; }

.icon-vip1:before { content: "\e680"; }

.icon-book:before { content: "\e60d"; }

.icon-order:before { content: "\e614"; }

.icon-touzi:before { content: "\e643"; }

.icon-zhengmian:before { content: "\e601"; }

.icon-artboard13:before { content: "\e7e0"; }

.icon-zhiyin:before { content: "\e651"; }

.icon-jiaruwomen:before { content: "\e735"; }

.icon-weibiaoti--:before { content: "\e803"; }

